CONFIG_TARGET_ar71xx=y
CONFIG_TARGET_ar71xx_generic=y
CONFIG_TARGET_ar71xx_generic_LININO_CHIWAWA=y
CONFIG_BUSYBOX_CUSTOM=y
CONFIG_BUSYBOX_CONFIG_FEATURE_BASH_IS_ASH=y
# CONFIG_BUSYBOX_CONFIG_FEATURE_BASH_IS_NONE is not set
CONFIG_BUSYBOX_CONFIG_FEATURE_IPC_SYSLOG=y
CONFIG_BUSYBOX_CONFIG_FEATURE_IPC_SYSLOG_BUFFER_SIZE=16
CONFIG_BUSYBOX_CONFIG_FEATURE_IP_ROUTE_DIR="n"
CONFIG_BUSYBOX_CONFIG_FEATURE_LOGREAD_REDUCED_LOCKING=y
CONFIG_BUSYBOX_CONFIG_FEATURE_SYSLOGD_READ_BUFFER_SIZE=512
# CONFIG_BUSYBOX_CONFIG_LOGIN is not set
CONFIG_BUSYBOX_CONFIG_LOGREAD=y
CONFIG_BUSYBOX_CONFIG_SYSLOGD=y
# CONFIG_FEED_c3 is not set
# CONFIG_FEED_luci is not set
# CONFIG_FEED_management is not set
# CONFIG_FEED_packages is not set
# CONFIG_FEED_routing is not set
# CONFIG_FEED_targets is not set
# CONFIG_FEED_telephony is not set
CONFIG_PACKAGE_bluez-libs=y
CONFIG_PACKAGE_c3-listener-hw-support=y
CONFIG_PACKAGE_c3listener=y
# CONFIG_PACKAGE_dnsmasq is not set
# CONFIG_PACKAGE_firewall is not set
CONFIG_PACKAGE_kmod-bluetooth=y
CONFIG_PACKAGE_kmod-crypto-aead=y
CONFIG_PACKAGE_kmod-crypto-cmac=y
CONFIG_PACKAGE_kmod-crypto-ecb=y
CONFIG_PACKAGE_kmod-crypto-hash=y
CONFIG_PACKAGE_kmod-crypto-manager=y
CONFIG_PACKAGE_kmod-crypto-pcompress=y
CONFIG_PACKAGE_kmod-hid=y
CONFIG_PACKAGE_kmod-input-core=y
CONFIG_PACKAGE_kmod-input-evdev=y
CONFIG_PACKAGE_kmod-leds-gpio=y
CONFIG_PACKAGE_kmod-ledtrig-morse=y
CONFIG_PACKAGE_kmod-ledtrig-netdev=y
CONFIG_PACKAGE_kmod-ledtrig-usbdev=y
CONFIG_PACKAGE_kmod-lib-crc16=y
CONFIG_PACKAGE_libconfig=y
CONFIG_PACKAGE_libevent2=y
CONFIG_PACKAGE_libpthread=y
CONFIG_PACKAGE_librt=y
CONFIG_PACKAGE_terminfo=y
# CONFIG_TARGET_ROOTFS_JFFS2=y
CONFIG_PACKAGE_kmod-ipt-nat=y
CONFIG_PACKAGE_kmod-nf-nat=y
