CONFIG_TARGET_brcm2708=y
CONFIG_TARGET_brcm2708_bcm2710=y
CONFIG_TARGET_brcm2708_bcm2710_RaspberryPi_3=y
CONFIG_BUSYBOX_CUSTOM=y
CONFIG_BUSYBOX_CONFIG_FSCK=y
# CONFIG_BUSYBOX_CONFIG_IFCONFIG is not set
CONFIG_PACKAGE_block-mount=y
CONFIG_PACKAGE_bluez-libs=y
CONFIG_PACKAGE_bluez-utils=y
CONFIG_PACKAGE_c3-raspi-support=y
CONFIG_PACKAGE_c3listener=y
# CONFIG_PACKAGE_dnsmasq is not set
CONFIG_PACKAGE_glib2=y
CONFIG_PACKAGE_kmod-bluetooth=y
CONFIG_PACKAGE_kmod-crypto-aead=y
CONFIG_PACKAGE_kmod-crypto-cmac=y
CONFIG_PACKAGE_kmod-crypto-ecb=y
CONFIG_PACKAGE_kmod-crypto-hash=y
CONFIG_PACKAGE_kmod-crypto-manager=y
CONFIG_PACKAGE_kmod-crypto-null=y
CONFIG_PACKAGE_kmod-crypto-pcompress=y
CONFIG_PACKAGE_kmod-i2c-bcm2708=y
CONFIG_PACKAGE_kmod-i2c-core=y
CONFIG_PACKAGE_kmod-lib-crc16=y
CONFIG_PACKAGE_kmod-lib-lzo=y
CONFIG_PACKAGE_kmod-regmap=y
CONFIG_PACKAGE_libattr=y
CONFIG_PACKAGE_libblkid=y
CONFIG_PACKAGE_libconfig=y
CONFIG_PACKAGE_libevent2=y
CONFIG_PACKAGE_libffi=y
CONFIG_PACKAGE_libmount=y
CONFIG_PACKAGE_libncursesw=y
CONFIG_PACKAGE_libpthread=y
CONFIG_PACKAGE_libreadline=y
CONFIG_PACKAGE_librt=y
CONFIG_PACKAGE_libsmartcols=y
CONFIG_PACKAGE_libusb-1.0=y
CONFIG_PACKAGE_libuuid=y
CONFIG_PACKAGE_terminfo=y
CONFIG_PACKAGE_usbreset=y
CONFIG_PACKAGE_usbutils=y
CONFIG_PACKAGE_zlib=y
CONFIG_PROCD_SHOW_BOOT=y
CONFIG_TARGET_EXT4_JOURNAL=y
CONFIG_TARGET_ROOTFS_SQUASHFS=y
CONFIG_TARGET_SQUASHFS_BLOCK_SIZE=256
# CONFIG_BINUTILS_USE_VERSION_2_24_LINARO is not set
# CONFIG_BINUTILS_USE_VERSION_2_25_1 is not set
# CONFIG_GCC_USE_VERSION_5 is not set
# CONFIG_LIBC_USE_GLIBC is not set
# CONFIG_LIBC_USE_MUSL is not set
